*{
    padding: 0;
    margin: 0;
}

nav p{
    font-family: 'DM Sans', sans-serif;
    color: #EBEBEB;
}

nav{
    background-color: #000000;
    width: 100%;
    height: auto;
    padding-top: 1px;
    padding-bottom: 20px;
}

.title p{
   margin-left: 160px;
   margin-top: 20px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    margin-top: -20px;
    margin-right: 100px;
    
}

ul a{
    font-family: 'DM Sans', sans-serif;
    color: #EBEBEB;
    text-decoration: none;
    
}

.jumbotron img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}


.content .container{
    display: flex;
    margin-left: 40px;
}

.content .title h1{
    margin-top: 90px;
    margin-left: 200px;
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    min-width: 100%;
    color: #444444;
}

.content .desc h1{
    margin-top: 100px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #444444;
    margin-left: 200px;
    max-width: 100%;
}

article img{
    width: 306px;
    height: auto;
    min-width: 50%;
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 40px;
    display: flex;
}

article .title{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 30px;
    margin-left: 200px;
    max-width: 100%;
}

article .desc{
    font-family: 'DM Sans', sans-serif;
    margin-left: 200px;
    margin-top: 11px;
    max-width: 100%;
}

.container{
    display: flex;
    margin-right: 200px;
}

.content-action .title{
    margin-top: 200px;
    font-family: 'Syne', sans-serif;
    margin-left: 200px;
    font-size: 48px;
}

.content-action .container{
    margin-top: 40px;
}


.btn-primary{
    padding: 10px;
    margin-left: 200px;
    width: 155px;
    height: 40px;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;   
}

.btn-secondary{
    width: 118px;
    height: 39px;
    border-radius: 8px;
    margin-left: 15px;
    background-color: #444444;
    color: #FFFFFF;
}

.content-connection .title{
    margin-top: 285px;
    margin-left: 200px;
    color: #444444;
    font-family: 'Syne', sans-serif;
    font-size: 48px;
}

.content-connection .desc{
    margin-top: 40px;
    font-family: 'DM Sans', sans-serif; 
    font-size: 20px;
    max-width: 35%;
    font-weight: 500;
    margin-left: 200px;
}

.connection .title{
    margin-top: 60px;
    margin-left: 200px;
    font-size: 20px;
    max-width: 100%;
    color: #7D7D7D;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    
}

.connect .facebook{
    margin-top: 19px;
    font-size: 20px;
    color: #000000;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
    
}

.connect .instagram{
    margin-top: 19px;
    font-size: 20px;
    color: #000000;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
}

.connect .twitter{
    margin-top: 19px;
    font-size: 20px;
    color: #000000;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
}

.connect .pinterest{
    margin-top: 19px;
    font-size: 20px;
    color: #000000;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
}

.connect .container{
    border-bottom: 1px solid #C5C5C5;
    margin-left: 200px;
}

aside .icon{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 100px;
}

.icon .fa-twitter{
    color: #000000;
    size: 32px 32px;
}

.icon .fa-instagram{
    color: #000000;
}

.icon .fa-twitch{
    color: #000000;
}

footer .desc{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}

footer .desc-secondary{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 100px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #000000;
    opacity: 0.5;
}




@media only screen and (max-width : 768px) {
    nav ul {
        display: none;
    }

    .title p{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: auto;
    }

    aside .icon{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 80px;
    }
    
    .content .container{
        display: block;
        min-width: 80%;
    }

    .content .title h1{
       margin-left: 20px;
       font-size: 32px;
    }

    .content .desc h1{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
        max-width: 100%;
     }

     article .container{
        display: block;
     }

    article img{
        margin-left: 50px;
        height: auto;
        margin-top: 80px;
        min-width: 100%;
        width: 350px;
        border-radius: 20px;
    }

    article .title{
        margin-left: 50px;
        min-width: 100%;
    }

    article .desc{
        margin-left: 50px;
        min-width: 100%;
    }

    .content-action .title{
        margin-left: 40px;
        font-size: 29px;
        margin-top: 80px;
    }

    .content-action .container{
        display: block;
    }

    .btn-primary{
        width: 370px;
        margin-left: 30px;
        padding: 5px ;
    }

    .btn-secondary{
        width: 370px;
        margin-left: 30px;
        padding: 5px ;
        margin-top: 15px;
    }

    .content-connection .title{
        font-size: 32px;
        margin-left: 30px;
        margin-top: 145px;
    }

    .content-connection .desc{
        font-size: 20px;
        margin-left: 30px;
        margin-top: 40px;
        max-width: 80%;
    }

    .connect .container{
        margin-left: 30px;
        min-width: 80%;
    }

    .connection .title{
        font-size: 20px;
    }

    .connect .facebook{
        font-size: 19px;
    }
}

